<div class="container">
	<h1>Portfolio</h1>
</div>
    
<div class="banner">
  <div class="container">
    <div class="slider">
      <%= image_tag("../assets/website-screenshots/boltnetwork.png", class: "img-responsive") %>
      <%= image_tag("../assets/website-screenshots/calendar.png", class: "img-responsive") %>
      <%= image_tag("../assets/website-screenshots/outbox.png", class: "img-responsive") %>
    </div>
  </div>
</div>

<div class="supporting">
  <div class="container">
    
    <div class="row">
      <div class="col-md-4">
        <a class="consumer thumbnail">
          <%= image_tag("../assets/website-screenshots/bonsai.png") %>
        </a>
      </div>
      <div class="col-md-4">
        <a class="enterprise thumbnail">
          <img src="http://s3.amazonaws.com/codecademy-content/projects/2/armando-perez/p2.jpg">
        </a>
      </div>
      <div class="col-md-4">
        <a class="consumer thumbnail">
          <img src="http://s3.amazonaws.com/codecademy-content/projects/2/armando-perez/p3.jpg">
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <a class="commerce thumbnail">
          <img src="http://s3.amazonaws.com/codecademy-content/projects/2/armando-perez/p4.jpg">
        </a>
      </div>
      <div class="col-md-4">
        <a class="enterprise thumbnail">
          <img src="http://s3.amazonaws.com/codecademy-content/projects/2/armando-perez/p5.jpg">
        </a>
      </div>
      <div class="col-md-4">
        <a class="mobile thumbnail">
          <img src="http://s3.amazonaws.com/codecademy-content/projects/2/armando-perez/p6.jpg">
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <a class="mobile thumbnail">
          <img src="http://s3.amazonaws.com/codecademy-content/projects/2/armando-perez/p7.jpg">
        </a>
      </div>
      <div class="col-md-4">
        <a class="commerce thumbnail">
          <img src="http://s3.amazonaws.com/codecademy-content/projects/2/armando-perez/p8.jpg">
        </a>
      </div>
      <div class="col-md-4">
        <a class="mobile thumbnail">
          <img src="http://s3.amazonaws.com/codecademy-content/projects/2/armando-perez/p9.jpg">
        </a>
      </div>
    </div>
  </div>
</div>