.site-wrapper {
  padding: 150px 0;
  font-family: 'Roboto Slab', serif;
  background-image: image-url("david.jpg");
  background-size: cover;
  background-attachment: scroll;
  background-position: center 10%;
  background-repeat: no-repeat;
  text-align: right;
}

.inner {
  min-height: 150px;
}

.skills {
  background-color: rgba(100%,100%,100%,0.5);
  display: inline-block;
  width: 200px;
}