// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body { padding-top: 50px; }

// Roboto
//font-family: 'Roboto', sans-serif;

.site-wrapper {
  font-family: 'Roboto Slab', serif;
  background-image: image-url("david.jpg");
  background-size: cover;
  background-attachment: scroll;
  background-position: center 10%;
  background-repeat: no-repeat;
  text-align: right;
  h1 {
  	margin-top: 300px;
  }
}

$color1 : black;
$color3 : blue;

footer {
	padding-top: 15px;
}

.about-heading {
	text-align: center;
}

.image-grid img {
	display: inline-block;
	width: 50%;
	max-width: 320px;
}

.about-text {
	padding-top: 20px;
	a {
		color: $color1;
		&:hover {
			color: $color3;
		}
	}

	p {
		color: $color1;
		margin-left: auto;
		margin-right: auto;
		width: 90%;
	}
}

@media (min-width: 640px) {

	.about-text {
		font-size: 1.5vw;
	}
	.image-grid {
		width: 25%;
		img {
			display: block;
			width: 100%;
			margin: 0;
		}
	}

	.grid_1, .about-text {
		display: inline-block;
		float: left;
	}

	.grid_2 {
		float: right;
	}

	.about-text {
		width: 50%;
		margin: 0;
	}
}